<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net451" userInstalled="true" />
  <package id="bootstrap" version="3.3.4" targetFramework="net45" userInstalled="true" />
  <package id="jQuery" version="1.9.1" targetFramework="net451" userInstalled="true" />
  <package id="jQuery.Validation" version="1.8.0.1" targetFramework="net451" userInstalled="true" />
  <package id="LibGit2Sharp" version="0.21.0.176" targetFramework="net451" userInstalled="true" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" userInstalled="true" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Modernizr" version="2.6.2" targetFramework="net451" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" userInstalled="true" />
  <package id="Owin" version="1.0" targetFramework="net45" userInstalled="true" />
  <package id="Respond" version="1.2.0" targetFramework="net451" userInstalled="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-beta015" targetFramework="net452" userInstalled="true" developmentDependency="true" />
  <package id="WebGrease" version="1.5.2" targetFramework="net451" userInstalled="true" />
</packages>