# Build output
bin/
obj/
artifacts/

# Artifacts of the IDE and build
*.sln.ide/
.vs/
packages/
*.suo
*.user
TestResults/
OpenCover.Reports/
OpenCover.Symbols/
.nuget/NuGet.exe
build/nuget/
*.log

# Visual Studio performance tools
*.psess
*.vsp
*.vspx
