version: 1.0.{build}
os: Visual Studio 2015
init:
- git config --global core.autocrlf true
install:
- set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%
before_build:
- nuget restore
build:
  verbosity: minimal
