pool:
  name: Azure Pipelines
  vmImage: windows-latest
  demands:
  - msbuild
  - visualstudio
  - vstest

stages:
- template: build/build-and-test.yml
  parameters:
    BuildConfiguration: Debug
    LatestLangVersion: '13'

- template: build/build-and-test.yml
  parameters:
    BuildConfiguration: Release
    LatestLangVersion: '13'
