<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="roslyn" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" />
    <add key="roslyn-analyzers" value="https://dotnet.myget.org/F/roslyn-analyzers/api/v3/index.json" />
    <add key="opencover" value="https://www.myget.org/F/opencover/api/v3/index.json" />

    <!-- Uncomment this to test unpublished builds from the AppVeyor feed. -->
    <!--<add key="appveyor-stylecop" value="https://ci.appveyor.com/nuget/stylecopanalyzers" />-->
  </packageSources>
</configuration>
