<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncUsageAnalyzers" version="1.0.0-alpha001" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0-rc2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0-rc2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0-rc2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.0.0-rc2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.0.0-rc2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net45" userInstalled="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-alpha006" targetFramework="net45" userInstalled="true" />
  <package id="System.Collections.Immutable" version="1.1.33-beta" targetFramework="net45" userInstalled="true" />
  <package id="System.Reflection.Metadata" version="1.0.18-beta" targetFramework="net45" userInstalled="true" />
  <package id="xunit" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="xunit.core" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="xunit.runner.visualstudio" version="2.0.0" targetFramework="net45" userInstalled="true" />
</packages>