<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codecov" version="1.8.0" />
  <package id="Pdb2Pdb" version="1.1.0-beta2-19516-01" />
  <package id="OpenCover" version="4.6.519" />
  <package id="ReportGenerator" version="2.3.5.0" targetFramework="net452" />
  <package id="xunit.runner.console" version="2.1.0" targetFramework="net452" />
</packages>