<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers internal-only projects" Description="Code analysis rules for StyleCop.Analyzers internal-only projects." ToolsVersion="14.0">
  <Include Path="StyleCop.Analyzers.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1573" Action="Hidden" />
    <Rule Id="CS1591" Action="Hidden" />
    <Rule Id="CS2008" Action="None" />
  </Rules>
  <Rules AnalyzerId="xunit.analyzers" RuleNamespace="xunit.analyzers">
    <Rule Id="xUnit1004" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Analyzers" RuleNamespace="Microsoft.CodeAnalysis.Analyzers">
    <Rule Id="RS1001" Action="None" />
    <Rule Id="RS1004" Action="None" />
    <Rule Id="RS1029" Action="None" /> <!-- Do not use reserved diagnostic IDs -->
    <Rule Id="RS2008" Action="None" /> <!-- Enable analyzer release tracking -->
  </Rules>
</RuleSet>